---
layout: page
title: Tags
header: Posts By Tag
group: navigation
permalink: /tags/
---


{% for tag in site.tags %}
  {% assign t = tag | first %}
  {% assign posts = tag | last %}

<a name="{{ tag[0] }}"></a>
<h3 id="{{ tag[0] }}">{{ tag[0] | downcase }}</h2>
<ul>
{% for post in posts %}
  {% if post.tags contains t %}


      	<li><strong><a href="{{ BASE_PATH }}{{post.url}}">{{post.title}}</a></strong> (<a href = "/{{post.username}}">{{post.username}}</a>)- {{ post.description }}</li>

  {% endif %}
{% endfor %}
</ul>
{% endfor %}

