---
layout: page
title: Workflows by azai91
author: azai91
permalink: /azai91/
---

<div class="row">
    <div class="col-md-12">

		<table class='table table-hover'>
        <thead>
        <tr>
        <th>Workflow</th>
        <th>Description</th>
        </tr>
        </thead>
        <tbody>

		  {% for post in site.posts %}
		  {% if post.username == page.author %}
		            	<tr><td><strong><a href="{{ BASE_PATH }}{{post.url}}">{{post.title}}</a></strong></td>
                        <td>{{ post.description }}</td></tr>
	    {% endif %}
		  {% endfor %}
		</tbody></table>

    </div>
</div>
