<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">

    <script src="{{ site.baseurl }}/js/vendor/modernizr-2.7.1.min.js"></script>
</head>
<body>

    <!--[if lt IE 8]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container">
        <br />
        {% include navbar.html %}
        {{ content }}
        {% include footer.html %}
    </div> <!-- /container -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ site.baseurl }}js/vendor/jquery-1.11.0.min.js"><\/script>')</script>

    <script src="{{ site.baseurl }}/js/vendor/bootstrap.min.js"></script>

    <script src="{{ site.baseurl }}/js/main.js"></script>

    <script>
     (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
                                                             function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
                            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
                            e.src='//www.google-analytics.com/analytics.js';
                            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
     ga('create','{{ site.google_analytics_id }}');ga('send','pageview');
    </script>
    <script>
         $(document).ready(function() {
        $("#readme img").each(function(){
            $e = $(this);
            if ($e.attr("src").startsWith("http") == false) {
                $e.attr("src","http://github.com/{{ page.username }}/{{ page.title}}/raw/master/" + $e.attr("src"));
            }
        })

        $("#readme a").each(function(){
            $e = $(this);
            if ($e.attr("href").startsWith("http") == false) {
                $e.attr("href","http://github.com/{{ page.username }}/{{ page.title}}/raw/master/" + $e.attr("href"));
            }
        })
    })
    </script>
<script src="js/instantclick.min.js" data-no-instant></script>
<script data-no-instant>InstantClick.init();</script>
</body>
</html>
